/* placeholder - styles can be added later */
.zr-statsdetail {}
.zr-statsdetail-top {}
.zr-statsdetail-title {}
.zr-statsdetail-year {}
.zr-statsdetail-error { white-space: pre-wrap; }
.zr-statsdetail-loading {}