/* frontend/src/index.css */

html, body, #root { height: 100%; }

:root{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #101013;
}

body{
  margin: 0;
  background: #ffffff;
  color: #101013;
}

/* Links */
a{
  color: #007a57;
  text-decoration: none;
}
a:hover{ text-decoration: underline; }

img{ max-width: 100%; height: auto; }